<!DOCTYPE HTML>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시판 등록 폼</h2>
    </div>

    <form action="board.html"  th:action method="post">
        <div>
            <label for="boardName">제목</label>
            <input type="text" id="boardName" name="boardName" class="form-control" placeholder="제목을 입력하세요">
        </div>
        <div>
            <label for="detail">할 말</label>
<!--            <input type="text" id="detail" name="detail" class="form-control" placeholder="내용을 입력하세요">-->
            <textarea  id="detail" rows="3" name="detail" class="form-control"></textarea>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">게시글 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='boards.html'"
                        th:onclick="|location.href='@{/boards}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>