<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>쥬비의 게시판 목록</h2>
    </div>

    <!--
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/items/add}'|"
                        type="button">상품 등록
                </button>
            </div>
        </div>
    -->
    <form th:object="${boardSearch}" method="get" class="form-inline">
        <div class="row">
            <div class="col">
                <input type="text" th:field="*{boardName}" class="form-control" placeholder="제목"/>
            </div>
            <div class="col">
                <input type="text" th:field="*{detail}" class="form-control" placeholder="내용"/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-secondary mb-2">검색</button>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            onclick="location.href='addForm.html'"
                            th:onclick="|location.href='@{/boards/add}'|"
                            type="button">등록
                    </button>
                </div>
            </div>
        </div>

    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>할 말</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a href="board.html" th:href="@{/boards/{boardId}(boardId=${board.id})}" th:text="${board.id}">회원id</a>
                </td>
                <td><a href="board.html" th:href="@{|/boards/${board.id}|}" th:text="${board.boardName}">상품명</a></td>
                <td th:text="${board.detail}">10000</td>
<!--                <td th:text="${item.quantity}">10</td>-->
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

</body>
</html>