<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시판 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="boardId">게시판 ID</label>
        <input type="text" id="boardId" name="boardId" class="form-control" value="1" th:value="${board.id}" readonly>
    </div>
    <div>
        <label for="boardName">제목</label>
        <input type="text" id="boardName" name="boardName" class="form-control" value="제목" th:value="${board.boardName}" readonly>
    </div>
    <div>
        <label for="detail">할 말</label>
        <input type="text" id="detail" name="detail" class="form-control" value="내용" th:value="${board.detail}" readonly>
    </div>


    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/boards/{boardId}/edit(boardId=${board.id})}'|"
                    type="button">상품 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='boards.html'"
                    th:onclick="|location.href='@{/boards}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>