<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시판 수정 폼</h2>
    </div>

    <form action="board.html" th:action method="post">
        <div>
            <label for="id">게시판 ID</label>
            <input type="text" id="id" name="id" class="form-control" value="1" th:value="${board.id}" readonly>
        </div>
        <div>
            <label for="boardName">제목</label>
            <input type="text" id="boardName" name="boardName" class="form-control" value="상품A" th:value="${board.boardName}">
        </div>
        <div>
            <label for="detail">할 말</label>
<!--            <input type="text" id="detail" name="detail" class="form-control" value="10000" th:value="${board.detail}">-->
            <textarea  id="detail" rows="3" name="detail" class="form-control"></textarea>
        </div>


        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='board.html'"
                        th:onclick="|location.href='@{/boards/{boardId}(boardId=${board.id})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>